*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #142D63;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 110vh;
}

.section{
    width: 50%;
    margin: 50px auto 0px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: white;
}

label{
    font-size: 22px;
    font-weight: bold;
}

input[type='checkbox']{
    width: 15px;
    height: 15px;
    padding-left: 10px;
}

input[type='number']{
    width: 50px;
    height: 30px;
    padding-left: 5px;
}


button{
    display: block;
    margin: 50px 0px 30px 0px;
    font-size: 2em;
    padding: 5px;
    background-color: #142D63;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.senha-gerada {
    font-size: 2em;
    margin-top: 20px;
}